*.DS_Store
*.pyc
*__pycache__

analysis/data/*
analysis/main/*
analysis/result/*
analysis/segmentation-kit/*
analysis/target/*

lstm/target/*
lstm/targetdata/*
lstm/blstm-cws/*

parser/data/*
parser/pasd/*
parser/segmentation-kit/*
parser/target/*
parser/targetdata/*

main/*

!.gitkeep
